# Virtual Environment
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/

# Generated / Local
vectorstore/
artifacts/
chroma/
*.sqlite*

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Environment
.env
